@font-face
{
    src: url("assets/DNFForgedBlade-Medium.ttf");
    font-family: "blade";
}
body
{
    /* position: relative; */
    padding: 0;
    margin: 0;
}

.container 
{
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
    justify-content: center;
    position : fixed;
    left: 0;right: 0;bottom: 0;
    height: 15vh;
}

.item 
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.item img 
{
    height: 7vh;
    background-position: center;
}

.item span 
{
    font-family: "blade";
    font-weight: bold;
    margin-top: 7px;
    font-size: 100%;
}
main{
    display: block;
    background: pink;
    max-height:  85vmax; /* nav의 높이만큼 main의 높이를 조정합니다. */  
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}
/* footer
{
    position : relative;
    transform : translateY(-100%);
   
}   
footer img
{
    position : absolute;
    background-position: center;
} */