@font-face
{
    src: url("../assets/NotoSansKR-VariableFont_wght.ttf");
    font-family: "noto";
}
*
{
    font-family: "noto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    overflow: hidden;
}
a{
    text-decoration: none;
}
a:visited
{
    color:black;
}
.container {
    margin: 0;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "l n n r"
        "l t t r"
        "l w w r";
}
.left_side, .right_side, .footer {
    height: 100%;
}
.left_side {
    grid-area: l;
    background-image: url("../assets/left.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.right_side {
    grid-area: r;
    background-image: url("../assets/right.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

.middle {
    height: 100%;
    overflow-y: auto; 
    grid-area: t;
}

.navbar {
    grid-area: n;
    width: 100%;
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
}
.navbar {
    color: black;
    grid-area: n;
    width: 100%;
    display: flex;
    background-color: rgba(128, 128, 128, 0.5);
}

.item:hover {
    background-color: rgb(128, 128, 128);
}
.item {
    color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.item img {
    height: 30px;
    background-position: center;
}

.item span {
    font-family: "blade";
    font-weight: bold;
    margin-top: 7px;
    font-size: 100%;
    color: black;
}

.footer {
    grid-area: w;
    width: 100%;
    background: #ffffff;
    color: white;
    text-align: center;
}

.footer img {
    width: 200px;
    height: 100%;
}

table {
    width: 70%;
    min-width: 480px;
    margin: 30px auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-collapse: collapse;
    overflow: hidden;
    overflow-y: scroll;
    height: 32px;
   
}
table img{
    vertical-align: middle;
}
thead tr
{
    height: 32px;
    background-color: rgb(128, 128, 128, 0.5);
}
tbody tr:nth-child(even){
    background-color: rgb(128, 128, 128, 0.5);
}
tbody tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
}

tr:nth-child(even):hover {
    background-color: rgb(128, 128, 128);
}

tr:nth-child(odd):hover {
    background-color: rgb(128, 128, 128);
}

input.check
{
    display: none;
}
input.check + label
{
    vertical-align: middle;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    position : relative;
}
input.check + label
{
    content: "";
    display: inline-block;
    width: 30px; 
    height: 30px; 
    background-image:url("../assets/checkbox-blank.svg");
}
input.check:checked + label
{
    content: url("../assets/checkbox-outline.svg");
}

.delete
{
    display: inline block;
    content: "";
    border: 0px;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: url("../assets/delete.png");
    background-color:  rgba(255, 255, 255, 0);
    filter: invert(16%) sepia(89%) saturate(6054%) hue-rotate(358deg) brightness(97%) contrast(113%);
}

.delete:hover
{
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 13px; 
}
::-webkit-scrollbar-thumb {
    background: rgb(221, 221, 221);/* 스크롤바 막대 색상 */
    border: 1px solid rgb(128, 128, 128, 0.8); /* 스크롤바 막대 테두리 설정  */
    border-radius: 12px 12px 12px 12px;
}
::-webkit-scrollbar-track {
	background: rgba(128, 128, 128, 0.3);
    border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(68, 68, 68, 0.5);
}

@media screen and (max-width: 1300px) {

    html, body {
        height: 100%;
    }

    .container {
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "t"
            "n";
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .left_side, .right_side, .footer {
        display: none;
    }

    .middle{
        width: 100%;
    }
    
    .navbar {
        color: black;
        width: 100%;
        height: 65px;
        display: flex;
    }
}