<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <main>
        <a href="search.html">
            <div id = "img_div">
                <img src="../assets/Redeemer.jpg" alt="main_img">
                <h1 id = "img_text">Dnf Auction</h1>    
            </div>
        </a>
    </main>
    <a href="https://developers.neople.co.kr/">
    <footer>
         <img src="../assets/column_col.png" alt="neople"> 
    </footer>
</a>
</body>
</html>