<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="sear.css">

</head>
<body>
    <main>
        <search>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, debitis. Quam non, explicabo, eos labore rerum placeat recusandae ab ducimus velit dolor quod id quaerat quas atque, autem aspernatur dignissimos!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ullam esse voluptatum officia molestias, accusantium excepturi, quasi, magnam a sapiente suscipit obcaecati eius sunt ipsum accusamus qui numquam libero aperiam?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos exercitationem impedit veritatis distinctio quia iure, asperiores explicabo ex facere. Sit, neque aliquam corporis hic veniam tempore dolorum aliquid odio eos.
        </search>
    </main>

    <footer>
        <nav_Container>
            <ul class = "nav">
            <li>
            <div class = "nav_element">
            <img src="../assets/home.svg" alt="">
            <h3 class = "nav_text"> home</h3>
            </div>
            </li>

            <li>
            <div class = "nav_element">
            <img src="../assets/magnify.svg" alt="">
            <h3 class = "nav_text"> search</h3>
            </div>
            </li>

            <li>
            <div class = "nav_element">
                <img src="../assets/account-circle.svg" alt="">
                <h3 class = "nav_text">log</h3>
            </div>
            </li>
        </ul>
        </nav_Container>
    </footer>
</body>
</html>