<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="search.css">

</head>
<body>
    <main>
        <search>

        </search>
    </main>

    <footer>
        <nav_Container>

            <home_div id= "left">
            <img src="../assets/home.svg" alt="">
            <p id = "nav_text"> home</p>
            </home_div>
            
            <search_div id = "middle">
            <img src="../assets/magnify.svg" alt="">
            <p id = "nav_text"> search</p>
            </search_div>

            <login_out_div id = "right">
                <img src="../assets/account-circle.svg" alt="">
                <p id = "nav_text">log</p>
            </login_out_div>

        </nav_Container>
    </footer>
</body>
</html>