<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <search>

        </search>
    </main>

    <footer>
        <nav_Container>
            <search_div id= "left">
             img   
            </search_div>
            
            <favorite_div id = "middle">

            </favorite_div>
            <login_out_div id = "right">

            </login_out_div>
        </nav_Container>
    </footer>
</body>
</html>